body {
  font-family: Arial, sans-serif;
  background: #eef2f3;
  padding: 20px;
}

h2 {
  text-align: center;
}

form {
  background: #ffffff;
  max-width: 850px;
  margin: auto;
  padding: 20px;
  border-radius: 6px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  background: #0b5ed7;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #084298;
}
